#logo {
    width: 100%;
    max-width: 50px;
    height: auto;
  }

/* Light mode */
body {
  background-color: #f5f5f5;
  color: #333;
}
header, main, footer {
  background-color: #fff;
  padding: 1rem;                    /*rem references the root font size, in this case there is padding, margin etc. equal to 100% (1.00) px of the root font */
  margin: 1rem;
  border-radius: 5px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin-right: 1rem;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
/* Dark mode */
body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}
header.dark-mode, main.dark-mode, footer.dark-mode {
  background-color: #222;
}
nav.dark-mode a {
  color: #f5f5f5;
}


.carousel {
  position: absolute;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  /*margin-bottom: 25px;
  padding-bottom: 10%;    still floats under the footer when the window becomes very small, unsure how to fix without changing the footer style entirely.*/ 
}

